.App {
  text-align: center;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.concept_box_fav {
  width: 90%;
  height: 124%;
  padding-top: 8%;

}

.concept_box  {
  color: yellow;
  border: 1px;
  border-style: solid;
  border-color: gainsboro;
  border-radius: 10px;
  width: 400px;
  margin: 10px 30px;
  background-color: rgb(241, 224, 255);
  background-color: rgb(213, 255, 204);
  text-decoration: none;
  padding: 10px;
}


.fav {
  margin: 200;
}

.likes {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.disabled-link {
cursor: default;
}
