.userProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 8%;
  width: calc(100% - 20px);
  MAX-WIDTH: 1750PX;
  MARGIN: 0 AUTO;
}

.userProfileImage {
  width: 8%;
  height: 8%;
  margin-top: 0%;
}

.userProfileHeading {
  display: flex;
  justify-content: center;
  MAX-WIDTH: 1050PX;
  MARGIN: 0 AUTO;
}

.userProfileName {
  margin: 0;
}

.user_skills_list {
  width: 20%;
  margin-left: 40%;
  margin-top: 5%;
  border-radius: 1%;
}
